/**
*
*
  NORMALIZE
 *
 *
 **/

/**
 
  COLOR SCHEME

  bleu #0065FC
  bleu claire #DEEBFF
  gris #F2F2F2

**/

/**
*
*
  FONTS
*
*
**/

/* ALL DOCUMENT */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Raleway", sans-serif; */
}

html {
  box-sizing: border-box;
}

body * {
  color: black;
  font-family: Raleway, sans-serif;
  font-style: 400;
}

/* IMAGES */

img {
  max-width: 400px;
}

/*  UNORDERED LISTS */

ul {
  list-style: none;
  display: flex;
}

/*  LINKS */

a,
a:visited {
  color: black;
}

/*  NAVIGATION */

#navigation div a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.subscribe a {
  color: #0065fc;
  font-weight: bold;
}

/* MAIN */

.main-article,
aside {
  background-color: #f2f2f2;
}

.card-type-1 {
  background-color: #f2f2f2;
}

.checked {
  color: #0065fc;
}

.empty {
  color: #f2f2f2;
}

/**
*
*
  LARGE SCREEN
 *
 *
 **/

/**
*
*
  BODY 
*
*
**/

body {
  margin-left: 3em;
  margin-right: 3em;
}

/**
*
*
  NAVIGATION 
*
*
**/

nav {
  padding: 0 10px;
  margin: 0;
}

nav,
#navigation * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navigation * {
  width: auto;
  height: 100px;
}

.accommodations a,
.activities a {
  font-weight: 500;
}

.accommodations:hover,
.activities:hover {
  border-top: 2px solid #0065fc;
}

#nav-btns-wrapper .accommodations:hover a,
#nav-btns-wrapper .activities:hover a {
  color: #0065fc;
  font-weight: 500;
}

.accommodations,
.activities {
  margin-right: 1.5em;
}

.activities {
  margin-left: 1.5em;
}

#subscribe-button-container {
  /* display: flex; */
  align-items: right;
  margin-right: 0;
  margin-left: 1.5em;
}

#nav-btns-container {
  display: flex;
  align-items: flex-end;
}

/* IMAGES */

img#logo {
  width: 100px;
  max-height: 45%;
  align-self: left;
  margin-left: -8px;
}

/**
*
*
  HEADER 
*
*
**/

header {
  padding: 0 10px;
}

/**
*
* 
  HEADER - FORM
*
*
**/

/* FORM */
#form {
  width: 100%;
  display: flex;
  margin: 20px auto;
}

#form,
#form * {
  min-width: auto;
}

#form * {
  height: 45px;
  margin: 0;
}

/* Form Icons (Icon in search bar) */
.fa-map-marker-alt {
  width: 50px;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  background-color: #f2f2f2;
}

.fa-map-marker-alt::before {
  width: 20px;
  font-size: 1em;
}

/* Form Input */
#form input {
  display: flex;
  justify-content: center;
}

#marseille-placeholder {
  display: flex;
  width: 250px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  margin: 0;
  justify-content: center;
}

#marseille-placeholder::placeholder {
  width: 250px;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
  padding-left: 15px;
}

#search-input,
#searchbar-container button {
  border: none;
  padding: 0;
}

#search-input {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: #0065fc;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 0 12px 12px 0;
}

/* Search Bar */
#searchbar-container button {
  min-width: auto;
  min-height: 45px;
  align-items: center;
  justify-content: center;
}

/**
*
*
  HEADER - ARTICLE
*
*
**/

/* HEADER ARTICLE - SEARCH BAR */
.header-article-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.header-article-container h4 {
  margin-left: 0;
  margin-right: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

#h4-filter {
  padding-top: 18px;
}

#searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

#searchbar-container button {
  display: flex;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 100px;
  margin-left: 1em;
  margin-right: 1em;
}

#searchbar-container button i {
  color: #0065fc;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  background-color: #deebff;
  border-radius: 100%;
  padding: 0;
}

#searchbar-container button i::before {
  display: flex;
  justify-content: space-around;
  padding-top: 30%;
}

#searchbar-container span {
  padding-left: 10px;
  padding-right: 10px;
}

.header-article-container {
  padding: 0 0 0 12px;
}

/* HEADER ARTICLE - INFO */
article.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 0 0 5px;
}

article.info i {
  color: #0065fc;
  width: 30px;
  height: 30px;
  font-size: 0.7em;
  border: 1px solid #f2f2f2;
  border-radius: 100%;
  margin-right: 1em;
}

article.info i::before {
  display: flex;
  justify-content: space-around;
  padding-top: 30%;
}

article.info p {
  font-weight: 500;
}

/**
*
*
  MAIN
*
*
**/

main {
  margin-top: 2em;
}

main article {
  padding: 2.5em;
  max-width: 80%;
}

main article,
main aside {
  border-radius: 20px;
}

/**
*
*
  MAIN - CARDS
*
*
**/

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-container img {
  width: 270px;
  height: 170px;
  padding: 5px;
  overflow: hidden;
}

.card-type-1 {
  background-color: #fff;
  max-width: 270px;
  margin: 20px;
}

.card-type-1 h4,
.card-type-1 p,
.card-type-1 ul {
  padding: 3px 15px;
}

.card-container img,
.card-type-1 {
  border-radius: 20px;
}
