/**
*
*
  NORMALIZE
 *
 *
 **/

/* ALL DOCUMENT */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body * {
  color: black;
  font-family: Raleway, sans-serif;
}

/*  UNORDERED LISTS */

ul {
  list-style: none;
  display: flex;
}

/*  LINKS */

a,
a:visited {
  color: black;
}

/*  NAVIGATION */

#nav-container div a,
main a,
footer section a {
  text-decoration: none;
}

.nav-subscribe a {
  color: #0065fc;
  font-weight: bold;
}

/* MAIN */
.card-type-1 {
  background-color: #f2f2f2;
}

.checked {
  color: #0065fc;
}

.empty {
  color: #f2f2f2;
}

.shadow:hover .checked {
  color: black;
}

.shadow:hover .empty {
  color: #fff;
}

/* FOOTER */

footer section a {
  font-weight: 500;
}

/**
*
*
                          *********************
                                  MOBILE
                          *********************
*
*
**/

/**
*
*
    MIN-WIDTH 280px
*
*
**/

/* HTML */
html {
  font-size: 16px;
}

/* BODY */
body,
nav,
header,
main,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body,
nav,
header,
main,
footer {
  width: 100%;
}

nav,
header,
main {
  margin: auto;
}

nav,
nav div {
  display: flex;
  align-items: center;
}

/* NAV */
nav {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

nav div {
  width: 100%;
}

.nav-logo {
  width: auto;
  padding-left: 1rem;
}

.nav-subscribe {
  width: auto;
  justify-self: flex-end;
  padding-right: 1rem;
}

.nav-subscribe,
.nav-accommodations {
  margin-left: auto;
}

.nav-accommodations,
.nav-activities {
  border-bottom: 2px solid #f2f2f2;
  justify-content: center;
  padding: 5%;
}

.nav-accommodations:active,
.nav-activities:active,
.nav-accommodations:hover,
.nav-activities:hover,
.nav-accommodations:visited,
.nav-activities:visited {
  border-bottom: 2px solid #0065fc;
}
.nav-accommodations:active a,
.nav-activities:active a,
.nav-accommodations:hover a,
.nav-activities:hover a,
.nav-accommodations:visited a,
.nav-activities:visited a {
  color: #0065fc;
  font-weight: 500;
}

/**
  *
  *
    HEADER 
  *
  *
  **/

header {
  padding: 2rem 1rem;
}

header h2 {
  font-size: 1.5rem;
}

header p,
footer p {
  font-size: 1.1rem;
}

header h2,
header p {
  margin: 1rem 0;
}

/**
  *
  * 
    HEADER - FORM
  *
  *
  **/

/* FORM */
#form {
  min-width: 80%;
  display: flex;
  margin: 20px auto;
}

#form * {
  min-height: 3rem;
  margin: 0;
}

/* FORM GROW */

/* Form Icons (Icon in search bar) */
.fa-map-marker-alt {
  width: 3rem;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  background-color: #f2f2f2;
}

.fa-map-marker-alt::before {
  width: 1rem;
  font-size: 0.9rem;
}

/* Form Input */
#form input {
  min-width: 200px;
  display: flex;
  justify-content: center;
}

#marseille-placeholder {
  display: flex;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  margin: 0;
  padding-left: 0.5rem;
  justify-content: center;
}

form input[type="search"]::-webkit-input-placeholder,
form input[type="search"]::-moz-placeholder,
form input[type="search"]:-moz-placeholder {
  opacity: 1;
}

form input[type="search"]::placeholder {
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
}

#search-input,
.header-filter-container div {
  border: none;
  padding: 0;
}

#search-input {
  width: 48px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.research-icon,
.research-word {
  display: block;
  font-size: 1rem;
  background-color: #0065fc;
  border-radius: 12px 12px;
}

.research-icon,
.research-icon i {
  width: 100%;
}

.research-icon i {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.research-word {
  display: none;
}

/**
  *
  *
    HEADER - ARTICLE
  *
  *
  **/

/* HEADER - FILTERS */

/* FILTERS */
.header-filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  padding: 0 0 0 12px;
  margin-top: 1rem;
  gap: 0.5rem;
}

.header-filter-title {
  display: flex;
  align-self: flex-start;
}

.header-filter-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-filter-container > div > div {
  background-color: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 100px;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.header-filter-container div div,
.header-filter-container div div i {
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-filter {
  gap: 0.5rem;
}

.btn-filter div {
  padding-right: 1rem;
}

.btn-filter i {
  color: #0065fc;
  font-size: 0.8rem;
  background-color: #deebff;
  border-radius: 100%;
}

.btn-filter i::before {
  font-size: 1rem;
}

.btn-filter:hover {
  border-color: white;
  background-color: #deebff;
}

.btn-filter:hover div h4 {
  color: #0065fc;
}

.btn-filter:hover i {
  background-color: #0065fc;
}

.btn-filter:hover i::before {
  color: white;
}

.btn-filter:hover h4,
.btn-filter:hover i::before {
  font-size: 1.2rem;
}

/* HEADER - INFO */
.info {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  gap: 1rem;
}

.info i {
  min-width: 1.5rem;
  min-height: 1.5rem;
  color: #0065fc;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  border: 1px solid #d1cece;
  border-radius: 100%;
}

.info i::before {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info p {
  font-weight: 500;
}

/**
  *
  *
    MAIN
  *
  *
  **/

main,
.main-first-article,
main aside {
  display: flex;
  flex-direction: column;
}

.main-first-article,
aside {
  gap: 2rem;
}

main article {
  padding: 2rem 1rem;
  border-radius: 20px;
}

/**
  *
  *
    MAIN - CARDS
  *
  *
  **/
.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow:hover {
  background-color: #deebff;
}

.main-first-article-card-container {
  margin: 0;
  padding: 0;
}

.main-first-article-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

.card-type-main-first-article-aside,
.card-type-main-first-article-aside-description,
.card-type-main-first-article-h4-container,
.card-type-main-first-article-img-container,
.card-type-main-first-article-span {
  display: flex;
}

.card-type-main-first-article-description,
.card-type-main-first-article-h4-container {
  flex-direction: column;
}

.card-type-main-first-article,
.card-type-main-first-article-img-container {
  width: 100%;
}

.card-type-main-first-article-img-container,
.card-type-main-first-article-span {
  justify-content: center;
  height: 8rem;
}

.card-type-main-first-article-span,
.card-type-main-first-article-span img {
  width: 100%;
}

.card-type-main-first-article {
  border-radius: 20px;
  background-color: #fff;
}

.card-type-main-first-article-img-container {
  padding: 3px;
}

.card-type-main-first-article-span {
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 20px 20px 0 0;
}

.card-type-main-first-article-span img {
  object-fit: cover;
}

.card-type-main-first-article-description {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.card-type-main-first-article-description,
.card-type-main-first-article-h4-container {
  display: flex;
  gap: 0.5rem;
}

.card-type-main-first-article-h4-container h4 {
  font-size: 1rem;
}

.shadow:hover .card-type-main-first-article-h4-container h4 {
  font-size: 1.1rem;
  color: #0065fc;
}

.card-type-main-first-article-h4-container p {
  font-size: 0.9rem;
  font-weight: 500;
}

.card-type-main-first-article-star-container {
  font-size: 0.8rem;
}

.show-more {
  font-size: 1.3rem;
  margin-top: 20px;
}

/**
  *
  *
    ASIDE
  *
  *
  **/

/* ASIDE */

.main-wrapper {
  display: flex;
  flex-direction: column;
}

main aside {
  width: 100%;
  padding: 2rem 1rem;
  margin: 0;
  order: 0;
  background-color: #f2f2f2;
}

.main-first-article {
  order: 1;
}

.main-aside-h2-container,
.card-type-aside,
.card-type-aside a,
.card-type-aside-side-description,
.card-type-aside-h4-container,
.card-type-aside-img-container,
.card-type-aside-span {
  display: flex;
}

.card-type-aside-side-description,
.card-type-aside-h4-container {
  flex-direction: column;
}

.main-aside-h2-container {
  justify-content: space-between;
}

.main-aside-i-container {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.aside-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-type-aside {
  height: 8rem;
  border-radius: 10px;
  background-color: #fff;
  justify-content: center;
}

.card-type-aside-img-container {
  width: 40%;
  padding: 3px;
}

.card-type-aside-span {
  width: 100%;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 10px 0 0 10px;
}

.card-type-aside-span img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.card-type-aside-side-description {
  justify-content: space-between;
  padding: 1rem 0.5rem;
  width: 70%;
}

.card-type-aside-h4-container {
  gap: 0.5rem;
}

.card-type-aside-h4-container h4 {
  font-size: 1rem;
}

.shadow:hover .card-type-aside-h4-container h4 {
  font-size: 1.1rem;
  color: #0065fc;
}

.card-type-aside-h4-container p {
  font-size: 0.9rem;
  font-weight: 500;
}

.card-type-aside-star-container {
  font-size: 0.8rem;
}

/* MAIN - BOTTOM-ARTICLE */

.main-bottom-article,
.main-bottom-article-card-container,
.card-type-main-bottom-article,
.column {
  display: flex;
  flex-direction: column;
}

.main-bottom-article,
.main-bottom-article-card-container,
.column {
  gap: 2rem;
}

.main-bottom-article {
  padding-top: 0;
}

.card-type-main-bottom-article {
  border-radius: 20px;
  background-color: #fff;
}

.card-type-main-bottom-article a img {
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
  object-position: top;
  border-radius: 20px 20px 0 0;
}

.B-01 a img {
  object-fit: cover;
  object-position: 0 40%;
}

.C-02 a img {
  object-position: 0 18%;
}

.bottom-article-description {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1rem;
  height: 60px;
  display: flex;
  align-items: center;
}

.shadow:hover .bottom-article-description h4 a {
  font-size: 1.1rem;
  color: #0065fc;
}

/**
*
*
    FOOTER
*
*
**/

footer h3 {
  margin: 0.5rem 0;
}

footer,
.wrapper,
.wrapper section {
  display: flex;
  flex-direction: column;
}

.wrapper {
  align-items: flex-start;
  gap: 2rem;
}

.wrapper section {
  gap: 1rem;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
  padding: 2rem;
  gap: 2rem;
}

/**
*
*
    OTHER SIZES
*
*
**/

/**
*
*
                          *********************
                                  TABLET
                          *********************
*
*
**/

/**
*
*
    MIN-WIDTH 768px
*
*
**/
@media (min-width: 768px) {
  /**
  *
  *
    BODY
  *
  *
  **/

  /* BODY */
  html,
  body {
    margin: auto;
    padding: 0;
  }

  nav,
  header,
  main {
    width: 100%;
  }

  h4 {
    font-size: 1rem;
  }

  /**
  *
  *
    HEADER
  *
  *
  **/

  /* HEADER - SEARCH */
  #search-input {
    width: 48px;
  }

  /* HEADER - FILTERS */
  /* FILTERS */
  .header-filter-container {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }

  .header-filter-container h4 {
    justify-content: flex-start;
    align-self: center;
    margin: 0;
    padding-left: 0.5rem;
  }

  .header-filter-buttons-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .header-filter-container div div {
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .header-filter-container div div div h4 {
    padding: 0;
    margin: 0 0.5rem;
  }

  /* HEADER - INFO */
  .info {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    gap: 1rem;
  }

  .info i {
    min-width: 1.5rem;
    min-height: 1.5rem;
    color: #0065fc;
    width: 20px;
    height: 20px;
    font-size: 0.7rem;
    border: 1px solid #d1cece;
    border-radius: 100%;
  }

  .info i::before {
    padding-top: 0;
  }

  /**
  *
  *
    MAIN
  *
  *
  **/

  /* MAIN */

  .main-wrapper,
  .main-first-article,
  main aside {
    display: flex;
  }

  .main-wrapper {
    gap: 2rem;
    margin: 0 auto;
  }

  /* MAIN - FIRST ARTICLE */
  .main-first-article,
  .main-first-article-card-container {
    width: 100%;
  }

  .main-first-article {
    background-color: #f2f2f2;
  }

  .main-first-article-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem;
  }

  .card-type-main-first-article {
    width: 30%;
  }

  /* MAIN - ASIDE */
  aside {
    border-radius: 20px;
  }

  .card-type-aside {
    width: 30rem;
    height: 10rem;
  }

  /**
  *
  *
    MAIN - BOTTOM ARTICLE
  *
  *
  **/

  /* MAIN - BOTTOM ARTICLE */

  /* RESET */

  .main-bottom-article {
    margin-top: 2rem;
  }

  .main-bottom-article-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 2rem;
  }

  .card-type-main-bottom-article {
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  /**
  *
  *
    FOOTER
  *
  *
  **/
  footer .wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

/**
*
*
                          ********************
                              LARGE SCREEN
                          ********************
*
*
**/

/**
*
*
  BODY 
*
*
**/

/**
*
*
    MIN-WIDTH 1000px
*
*
**/
@media screen and (min-width: 1024px) {
  /**
  *
  *
    BODY
  *
  *
  **/

  /* BODY */
  html,
  body {
    margin: auto;
    padding: 0;
  }

  nav,
  header,
  main {
    width: 100%;
    max-width: 1500px;
  }

  /**
  *
  *
    NAVIGATION 
  *
  *
  **/

  /* NAV */
  nav {
    flex-wrap: wrap;
    margin: 0 auto 0;
    padding: 0;
    justify-content: flex-end;
    gap: 0;
  }

  nav div {
    width: initial;
  }

  #nav-container * {
    flex-wrap: nowrap;
  }

  .nav-logo,
  .nav-logo a img {
    padding: 0;
  }

  .nav-logo {
    margin: 0 auto 0 0;
  }

  .nav-logo a img {
    margin: 0 0 0 0;
  }

  .nav-logo,
  .nav-subscribe,
  .nav-buttons {
    max-width: 33%;
  }

  .nav-buttons {
    width: fit-content;
    margin-left: 0;
  }

  .nav-accommodations,
  .nav-activities {
    width: 10rem;
    border-bottom: none;
    order: 0;
  }

  .nav-accommodations:hover,
  .nav-activities:hover {
    border-top: 2px solid #0065fc;
    border-bottom: none;
  }

  .nav-accommodations a,
  .nav-activities a {
    font-weight: 500;
  }

  .nav-accommodations:hover a,
  .nav-activities:hover a {
    color: #0065fc;
    font-weight: 500;
  }

  .nav-accommodations {
    margin-left: 0;
  }

  .nav-subscribe {
    margin-left: 0.8rem;
    order: 1;
  }

  /* IMAGES */

  img#logo {
    padding-left: 1rem;
  }

  /**
  *
  *
    HEADER 
  *
  *
  **/
  header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  header h2,
  header p {
    margin: 0.5rem;
  }

  /**
  *
  * 
    HEADER - FORM
  *
  *
  **/

  /* FORM */
  #form {
    width: 100%;
    display: flex;
    margin: 20px 10px;
  }

  #form,
  #form * {
    min-width: auto;
  }

  #form * {
    margin: 0;
  }

  /* Form Icons (Icon in search bar) */
  .fa-map-marker-alt {
    width: 50px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    background-color: #f2f2f2;
  }

  .fa-map-marker-alt::before {
    width: 20px;
    font-size: 1rem;
  }

  /* Form Input */
  #form input {
    display: flex;
    justify-content: center;
  }

  #marseille-placeholder {
    display: flex;
    width: fit-content;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    margin: 0;
    justify-content: center;
  }

  #marseille-placeholder::placeholder {
    width: 250px;
    color: #000000;
    font-size: 1.3rem;
    font-weight: bold;
    margin: auto;
  }

  #search-input,
  .header-filter-container div {
    border: none;
    padding: 0;
  }

  #search-input {
    width: 150px;
    background-color: #0065fc;
    border-radius: 0 12px 12px 0;
  }

  .research-word {
    display: initial;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .research-icon {
    display: none;
  }

  /**
  *
  *
    HEADER - FILTERS
  *
  *
  **/

  /* HEADER - SEARCH BAR & FILTERS */

  .header-filter-container {
    flex-wrap: nowrap;
    width: 100%;
  }

  /**
  *
  *
    MAIN
  *
  *
  **/

  .main-article,
  aside {
    background-color: #f2f2f2;
  }

  .main-first-article,
  aside {
    order: 0;
  }

  .main-wrapper {
    display: flex;
    flex-direction: row;
  }

  .main-first-article {
    min-width: 50%;
  }

  aside {
    max-width: 30%;
  }

  /**
  *
  *
    MAIN - CARDS
  *
  *
  **/

  /* MAIN - CARDS */
  .main-first-article-card-container {
    gap: 2rem;
  }

  .card-type-main-first-article-h4-container h4 {
    font-size: 1rem;
  }
  /**
  *
  *
    ASIDE
  *
  *
  **/

  /* ASIDE */
  .card-type-aside {
    width: 100%;
  }

  /**
  *
  *
    BOTTOM ARTICLE
  *
  *
  **/

  /* BOTTOM ARTICLE */

  .card-type-main-bottom-article,
  .card-type-main-bottom-article a {
    width: 100%;
    justify-content: initial;
  }

  .grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 2rem) 2rem;
    gap: 2rem;
  }

  .grid-item-1 {
    grid-row: 1/11;
    overflow: hidden;
  }

  .grid-item-2 {
    grid-row: 1/7;
  }

  .grid-item-3 {
    grid-row: 7/11;
  }

  .grid-item-4 {
    grid-row: 1/11;
  }

  .grid-item-5 {
    grid-row: 1/6;
  }

  .grid-item-6 {
    grid-row: 6/11;
  }

  /* BOTTOM ARTICLE - CARDS HEIGHT */

  .card-type-main-bottom-article .bottom-img-container a {
    display: block;
  }

  .card-type-main-bottom-article .bottom-img-container,
  .card-type-main-bottom-article .bottom-img-container a,
  .card-type-main-bottom-article .bottom-img-container a img {
    height: 100%;
  }

  .card-type-main-bottom-article .bottom-article-description {
    min-height: 60px;
    max-height: 60px;
  }

  .bottom-img-container {
    max-height: 100%;
    overflow: hidden;
  }

  /**
  *
  *
    FOOTER
  *
  *
  **/

  /* FOOTER */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer .wrapper {
    gap: 10rem;
    max-width: 1480px;
    justify-content: initial;
  }
}
